<form class="pc-form" #pcForm="ngForm" (ngSubmit)="onSubmit(pcForm)">
  <input type="hidden" name="PcID" #PcID="ngModel" [(ngModel)]="pcService.selectedPc.PcID">
  <div class="form-row">
    <div class="form-group col-md-6">
      <input class="form-control" name="Brand" #Brand="ngModel" [(ngModel)]="pcService.selectedPc.Brand" placeholder="Marca" required>
      <div class="validation-error" *ngIf="Brand.invalid && Brand.touched">Por favor, preencha este campo.</div>
    </div>
    <div class="form-group col-md-6">
      <input class="form-control" name="Model" #Model="ngModel" [(ngModel)]="pcService.selectedPc.Model" placeholder="Modelo" required>
      <div class="validation-error" *ngIf="Model.invalid && Model.touched">Por favor, preencha este campo.</div>
    </div>
  </div>
  <!-- <div class="form-group">
      <input class="form-control" name="Process" #Process="ngModel" [(ngModel)]="pcService.selectedPc.Process" placeholder="Processador" required>
      <div class="validation-error" *ngIf="Process.invalid && Process.touched">Por favor, preencha este campo.</div>
    </div> -->
  <div class="form-row">
    <div class="form-group col-md-4">
      <input class="form-control" name="Mobo" #Mobo="ngModel" [(ngModel)]="pcService.selectedPc.Mobo" placeholder="Placa Mãe" required>
      <div class="validation-error" *ngIf="Mobo.invalid && Mobo.touched">Por favor, preencha este campo.</div>
    </div>
    <div class="form-group col-md-4">
      <input class="form-control" name="RAM" #RAM="ngModel" [(ngModel)]="pcService.selectedPc.RAM" placeholder="Memória RAM" required>
      <div class="validation-error" *ngIf="RAM.invalid && RAM.touched">Por favor, preencha este campo.</div>
    </div>
    <div class="form-group col-md-4">
      <input class="form-control" name="HDD" #HDD="ngModel" [(ngModel)]="pcService.selectedPc.HDD" placeholder="HD" required>
      <div class="validation-error" *ngIf="HDD.invalid && HDD.touched">Por favor, preencha este campo.</div>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <input class="form-control" name="Process" #Process="ngModel" [(ngModel)]="pcService.selectedPc.Process" placeholder="Processador"
        required>
      <div class="validation-error" *ngIf="Process.invalid && Process.touched">Por favor, preencha este campo.</div>
    </div>
    <div class="form-group col-md-6">
      <input type="file" class="form-control" id="filePicker" (change)="handleFileSelect($event)" name="ImgUrl" #ImgUrl="ngModel" [(ngModel)]="pcService.selectedPc.ImgUrl" #fileInput>
      <!-- <input class="form-control" name="ImgUrl" #ImgUrl="ngModel" [(ngModel)]="pcService.selectedPc.ImgUrl" placeholder="Foto"> -->
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-8">
      <button [disabled]="!pcForm.valid" type="submit" class="btn btn-lg btn-block btn-info">
        <i class="fa fa-check"></i> Salvar</button>
    </div>
    <div class="form-group col-md-4">
      <button type="button" class="btn btn-lg btn-block btn-secondary" (click)="resetForm(pcForm)">
        <i class="fa fa-repeat"></i> Limpar</button>
    </div>
  </div>
</form>